@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Orienta);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);

body {
  padding: 20px 20px;
  background: #ffffff;
  color: #000000;
  font-family: 'Nunito Sans';
  font-size: 1rem;
}

.app {
  /* max-width: 500px; */
}

.centered {
  margin: 20px auto;
  text-align: center;
}

.title {
  color: #000000;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 5px;
}

.sub_title {
  color: #000000;
  font-size: 20px;
  font-weight: italic;
  text-align: center;
  padding-bottom: 10px;
}

.sub_heading {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}
